body {
  background-color: #CDD2D3;
  font-family: helvetica, arial;
  color: #343838;
}

#react {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.message-composer {
  background: none repeat scroll 0 0 white;
  height: 50px;
  margin: auto;
  width: 50%;
}

#info {
  position: absolute;
  left: 15px;
  top: 0px;
  z-index: 1;
}